body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    text-align: center;
    width: 300px;
}

h2{
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button_grup{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    width: 45%;
}

button:hover{
    background-color: #45a049;
}

h3{
    margin-top: 20px;
    font-weight: bold;
}